<!-- extend base template -->

{% extends "base.html" %}
{% block title %} Sign Up {% endblock %}

{% block content %}
<form method="POST">
    <h3 align="center" class="mt-3">Sign Up</h3>
    <div class="form-floating mb-3">
        <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com">
        <label for="email">Email address</label>
    </div>
    <div class="form-floating mb-3">
        <input type="firstName" class="form-control" id="firstName" name="firstName" placeholder="Enter First Name">
        <label for="firstName">First Name</label>
    </div>
    <div class="form-floating mb-3">
        <input type="password" class="form-control" id="password1" name="password1" placeholder="Password">
        <label for="password1">Enter Password</label>
    </div>
    <div class="form-floating mb-3">
        <input type="password" class="form-control" id="password2" name="password2" placeholder="Password">
        <label for="password1">Confirm Password</label>
    </div>
    <br />
    <div class="d-grid gap-2 col-6 mx-auto">
        <button class="btn btn-primary" type="submit">Submit</button>
        <!-- <button class="btn btn-primary" type="button">Sign Up with Google </button> -->
    </div>
</form>
{% endblock %}